<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hello srujana thinava raaaa</h1>
        <h1>em indi raaaa</h1>
        <a href="{% url 'srujana' %}">Response of srujana</a>
        <marquee> Nv em ina L******** Entha mandi kavali ey neku</marquee>
        <h1>niyam neku nadi saripodha neku </h1>
        <a href="{% url 'srujana' %}">Respose of srujana</a>
    </center>
</body>
</html>